<div class="input-group">
    <input id="{{id}}Id" class="_commonTreeId" name="{{name}}" [attr.searchItem]="searchItem"
           [attr.attrType]="attrType"
           [attr.operation]="operate" type="hidden" value="{{value}}"
           [attr.disabled]="disabled"/>
    <input id="{{id}}Name" name="{{labelName}}"
           onclick="albedoForm.treeSelect($(this), $(this).prev('input._commonTreeId'));"
           readonly="readonly"
           type="text"
           value="{{labelValue}}"
           class="{{cssClass}} _commonTreeInput form-control"
           [attr.disabled]="disabled"
           [attr._nameLevel]="nameLevel"
           [attr._url]="url"
           [attr._checked]="checked"
           [attr._extId]="extId"
           [attr._module]="module"
           [attr._nodesLevel]="nodesLevel"
           [attr._title]="title"
           [attr._selectedValueFn]="selectedValueFn"
           [attr._allowClear]="allowClear"
           [attr._notAllowSelectParent]="notAllowSelectParent"
           [attr._notAllowSelectRoot]="notAllowSelectRoot"
           [attr._selectScopeModule]="selectScopeModule"/>
    <span class="input-group-btn">
        <button class="btn btn-secondary" type="button"
                onclick="albedoForm.treeSelect($(this).parent().prev('input._commonTreeInput'), $(this).parent().prevAll('input._commonTreeId'));">
    选择
        </button>
    </span>
</div>
