<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                用户管理
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div>
        </div>
    </div>
</div>
<!-- END: Subheader -->


<div class="m-content">
    <!--begin::Portlet-->
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        添加用户
                        <small>
                            数据表单
                        </small>
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <a href="#/sys/user/list" title="用户列表" class="m-portlet__nav-link btn list btn-lg btn-outline-primary m-btn m-btn--outline-1x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill ">
                    <i class="la la-th-list"></i>
                </a>
            </div>
        </div>
        <!--begin::Form-->
        <form class="m-form m-form--fit m-form--label-align-right form-validation" action="{{ctx}}/sys/user/" method="post" id="user-save-form">
            <input type="hidden" name="id" value="{{user.id}}" />
            <div class="m-portlet__body">
                <div class="m-form__content bootstrap-alerts">

                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        所属组织 *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <alb-tree-select id="org"
                             cssClass="required" allowClear="true" name="orgId"
                             value="{{user.orgId}}" labelName="orgName"
                             labelValue="{{user.orgName}}" title="选择组织"
                             url="{{ctx}}/sys/org/findTreeData" ></alb-tree-select>

                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        登录Id *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="loginId" value="{{user&&user.loginId}}"
                               maxlength="64" data-required="1" class="form-control required"/>
                        <span class="m-form__help">
							唯一
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        密码 {{user.id==null?'*':''}}
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input id="newPassword" name="password" type="password" value=""
                               htmlEscape="false" maxlength="64"
                               class="form-control {{user.id==null?'required':''}}"/>
                        <span class="m-form__help {{user.id==null?'hide':''}}">
							若不修改密码，请留空
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        确认密码 {{user.id?'*':''}}
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input name="confirmPassword" type="password" value=""
                               htmlEscape="false" maxlength="64" class="form-control"
                               equalTo="#newPassword"/>
                        <span class="m-form__help">
							重复输入密码
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        联系电话
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input name="phone" value="{{user.phone}}" htmlEscape="false"
                               maxlength="32" class="form-control phone"/>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        邮箱
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input name="email" value="{{user.email}}" htmlEscape="false"
                               maxlength="32" class="form-control email"/>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        状态 *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <alb-form boxType="radio"
                                  id="status"
                                  name="status"
                                  dictCode="sys_status"
                                  value="{{user.status}}" cssClass="required">
                        </alb-form>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        角色 *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <alb-form name="roleIdList" id="roleIdList" url="{{ctx}}/sys/role/comboData" boxType="select" multiple="multiple"
                        value="{{user.roleIdList}}" cssClass="required"> </alb-form>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        描述
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                         <textarea class="summernote form-control" name="description"
                                   rows="5">{{user.description}}</textarea>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-9 ml-lg-auto">
                            <button type="button" class="btn btn-success save">
                                <i class="fa fa-check"></i> 保存
                            </button>
                            <button type="button" class="btn btn-secondary" onclick="albedoForm.resetForm('#user-save-form')">
                                重置
                            </button>
                            <button type="button" class="btn" onclick="window.history.back()">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
    <!--end::Portlet-->
</div>
