<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                测试树管理管理
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div>
        </div>
    </div>
</div>
<!-- END: Subheader -->


<div class="m-content">
    <!--begin::Portlet-->
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        添加测试树管理
                        <small>
                            数据表单
                        </small>
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <a href="#/test/testTree/list" title="测试树管理列表" class="m-portlet__nav-link btn list btn-lg btn-outline-primary m-btn m-btn--outline-1x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill ">
                    <i class="la la-th-list"></i>
                </a>
            </div>
        </div>
        <!--begin::Form-->
        <form class="m-form m-form--fit m-form--label-align-right form-validation" action="{{ctx}}/test/testTree/" method="post" id="testTree-save-form">
            <input type="hidden" name="id" value="{{testTree.id}}" />
            <div class="m-portlet__body">
                <div class="m-form__content bootstrap-alerts">

                </div>

                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        name_
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="name" id="name" class="form-control" value="{{testTree.name}}" htmlEscape="false" maxlength="255" />
                    <span class="m-form__help">
                        
                    </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">上级节点<span class="required">*</span>
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <alb-tree-select id="testTree" cssClass="required" allowClear="true" name="parentId" value="{{testTree.parentId}}" labelName="parentName"
                        labelValue="{{testTree.parentName}}" title="选择上级测试树管理" url="{{ctx}}/test/testTree/findTreeData"> </alb-tree-select>
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        机构编码 *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="code" id="code" class="form-control required" value="{{testTree.code}}" htmlEscape="false" maxlength="64" />
                    <span class="m-form__help">
                        
                    </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        机构等级 *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="grade" id="grade" class="form-control required" value="{{testTree.grade}}" htmlEscape="false" maxlength="255" />
                    <span class="m-form__help">
                        
                    </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        英文
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="en" id="en" class="form-control" value="{{testTree.en}}" htmlEscape="false" maxlength="255" />
                    <span class="m-form__help">
                        
                    </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        序号
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="sort" id="sort" class="form-control digits" value="{{testTree.sort}}" htmlEscape="false" maxlength="11" />
                    <span class="m-form__help">
                        
                    </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        组织类型
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="type" id="type" class="form-control" value="{{testTree.type}}" htmlEscape="false" maxlength="64" />
                    <span class="m-form__help">
                        
                    </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        默认日期 *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <div class="input-group date m_datetimepicker" >
                            <input class="form-control m-input" name="defaultData" readonly value="{{testTree.defaultData | date:'yyyy-MM-dd hh:mm:ss'}}" type="text" />
                            <span class="input-group-addon">
                                <i class="la la-calendar-check-o glyphicon-th"></i>
                            </span>
                        </div>
                    <span class="m-form__help">
                        
                    </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        description_
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <textarea name="description" rows="5" maxlength="255" class="form-control input-xxlarge ">{{testTree.description}}</textarea>
                    <span class="m-form__help">
                        
                    </span>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-9 ml-lg-auto">
                            <button type="button" class="btn btn-success save">
                                <i class="fa fa-check"></i> 保存
                            </button>
                            <button type="button" class="btn btn-secondary" onclick="albedoForm.resetForm('#testTree-save-form')">
                                重置
                            </button>
                            <button type="button" class="btn" onclick="window.history.back()">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
    <!--end::Portlet-->
</div>